<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>365425190595-agl12o3uasq78gpavcnp7r5qvlcln88k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365425190595-agl12o3uasq78gpavcnp7r5qvlcln88k</string>
	<key>API_KEY</key>
	<string>AIzaSyCCNIFt2LzOxJUjaA_qp2zemSndS2GuMaw</string>
	<key>GCM_SENDER_ID</key>
	<string>365425190595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AgoraNavigator.iOS</string>
	<key>PROJECT_ID</key>
	<string>agora-ada18</string>
	<key>STORAGE_BUCKET</key>
	<string>agora-ada18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365425190595:ios:874ca6126cd64c48</string>
	<key>DATABASE_URL</key>
	<string>https://agora-ada18.firebaseio.com</string>
</dict>
</plist>