<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>Agora Navigator</string>
	<key>CFBundleIdentifier</key>
	<string>com.AgoraNavigator.iOS</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>AgoraNavigator</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSExceptionDomains</key>
	<dict>
		<key>firebaseio.com</key>
		<dict>
			<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
			<true/>
			<key>NSIncludesSubdomains</key>
			<true/>
		</dict>
	</dict>
	<key>Custom Property</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>Do you allow access to your camera? :)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Do you allow access to your location? :)</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Do you allow access to your location? :)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Do you allow access to your location? :)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Do you allow access to your Calendar (it is needed for favorite event notification)? :)</string>
</dict>
</plist>
